<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MissionRunner Analytics Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<body>
		<h1>MissionRunner Analytics Dashboard</h1>
		
		<h2>Input Files</h2>
		
		<ul th:each="file: ${inputFiles}">
			<li>
				<form action="#" th:action="@{/process}" th:object="${fileToProcess}" method="post">
					<input type="hidden" id="fileName" name="fileName" th:value="${file.pathSuffix}" />
					<input type="submit" value="Process" />
				</form>
				
				<span th:text="${file.pathSuffix}"></span>
			</li>
		</ul>
		
		<h2>Output Files</h2>
		
		<ul th:each="file: ${outputFiles}">
			<li><a th:href="'/get/' + ${file.pathSuffix}" th:text="${file.pathSuffix}"></a></li>
		</ul>
	</body>
</html>
